go 1.22.5

use (
	.
	./cmd/api-server
	./cmd/cli
	./cmd/internal/api
	./cmd/internal/init_config/conf
	./cmd/internal/ingestor
	./cmd/internal/init_config
	./cmd/internal/models
	./cmd/internal/repository
)
